body {
  background-color: rgb(100, 100, 100);
}

label {
  color: black;
}

.wrap {
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  background-color: aliceblue;
  border: 2px solid black;
}

#courses {
  display: inline-block;
  width: 200px;
  top: 20px;
}

.wrap:hover,
div.output:hover {
  background-color: rgb(164, 216, 218);
  transition: 0.35s;
}

form {
  display: grid;
}

form.row label {
  grid-column: 0;
}

form.row input {
  grid-column: 1;
}

.output {
  display: inline-block;
  width: 1000px;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  border: 2px solid black;
  background-color: aliceblue;
  white-space: pre;
}

.courses {
  position: relative;
  display: block;
  width: auto;
}