/* variables */

:root {
  --activeAccent:#ffa9fa;
  --defaultAccent:#ec9d98;
  --highlightColor:#f0f8ff;
  --backgroundColor:#ffffff;
  --textColor:#000000;
}

body {
  overflow: hidden;
  font-family: 'helvetica';
  background-color: var(--backgroundColor);
}

/* overall styling */

button {
  border-radius: 2em;
}

/* Modal */

.modal {
  position: absolute;
  border-radius: 2em;
  width: 40%;
  animation: modalDrop 500ms;
}

.modal::backdrop {
  background: rgba(68, 66, 66, 0.5);
  animation: darken 500ms;
}

@keyframes modalDrop {
  0% {
    top: -500%;
  }

  100% {
    top: 0;
  }
}

@keyframes darken {
  0% {
    background: rgba(68, 66, 66, 0);
  }
}

/* Send Form */

form#sendForm {
  position: absolute;
  display: flex;
  bottom: 4%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em rgba(60, 60, 60, 0.4);
  transition: 400ms;
  border: 1px solid black;
  padding-left: 0.8%;
}

form#sendForm > input[type="text"] {
  width: 100%;
  border-radius: 20em;
  border: none;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/* Stop message input's border from glowing when focussed */
form#sendForm > input[type="text"]:focus-visible {
  box-shadow: none;
  outline: 0;
}

form#sendForm:focus-within {
  box-shadow: 0em 0em 0.6em rgba(60, 60, 60, 0.6);
}

form#sendForm > input[type="submit"] {
  border-radius: 20em;
  border: none;
  background-color: var(--defaultAccent);
  transition: 300ms;
}

form#sendForm > input[type="submit"]:hover {
  background-color: var(--activeAccent);
}

/* course selector */

div#courses {
  position: absolute;
  right: -10%;
  top: 10%;
  width: 30%;
  height: 30%;
  transition: 500ms;
}

div#courses > div {
  width: 85%;
  height: 0;
  margin-left: 15%;
  transition: 300ms;
}

div#courses > div:hover {
  margin-left: 5%;
}

/* course buttons */
div#courses > div > input[type="button"] {
  width: 100%;
  text-align: left;
  background-color: var(--defaultAccent);
  transition: 300ms;
  border: none;
  border-radius: 2em;
  height: 80%;
  padding-left: 5%;
}

div#courses > div > input[type="button"]:hover {
  background-color: var(--activeAccent);
}

/* text output area */

#textOutput {
  overflow-y: auto;
  position: absolute;
  height: 70%;
  width: 70%;
  top: 10%;
  left: 45%;
  transform: translate(-50%, 0);
  padding: 1em;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

#textOutput::-webkit-scrollbar {
  display: none;
}

#textOutput > p {
  margin: 0.5em;
}

#textOutput > p:hover {
  background-color: var(--highlightColor);
}

/* Settings Window */
#gear {
  position: absolute;
  width: 20%;
  right: -10%;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  top: 4%;
  z-index: 0;
  cursor: pointer;
}

#settingsWindow {
  position: absolute;
  height: 100%;
  width: 20%;
  background-color: lightgrey;
  left: -22.5%;
  transition: 500ms;
  z-index: 1;
  padding: 1em;
  transition-timing-function: ease-out;

}

#settingsWindow >  form {
  display: inline;
}

#settingsWindow >  form > div{
  padding: 1em;
}

input[type="color"] {
	border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 40px;
}