body {
  overflow: hidden;
  font-family: 'helvetica';
}

/* variables */

:root {
  --activeAccent: #ffa9fa;
  --defaultAccent: #ffaa9f;
  --highlightColor: aliceblue;
}

/* Modal */

.modal {
  position: absolute;
  border-radius: 2em;
  width: 40%;
  animation: modalDrop 500ms;
}

.modal::backdrop {
  background: rgba(68, 66, 66, 0.5);
  animation: darken 500ms;
}

@keyframes modalDrop {
  0% {
    top: -500%;
  }

  100% {
    top: 0;
  }
}

@keyframes darken {
  0% {
    background: rgba(68, 66, 66, 0);
  }
}

/* Send Form */

form#sendForm {
  position: absolute;
  display: flex;
  bottom: 2em;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em rgba(60, 60, 60, 0.4);
  transition: 400ms;
  border: 1px solid black;
  padding-left: 0.8%;
}

form#sendForm > input[type="text"] {
  width: 100%;
  border-radius: 20em;
  border: none;
}

/* Stop message input's border from glowing when focussed */
form#sendForm > input[type="text"]:focus-visible {
  box-shadow: none;
  outline: 0;
}

form#sendForm:focus-within {
  box-shadow: 0em 0em 0.6em rgba(60, 60, 60, 0.6);
}

form#sendForm > input[type="submit"] {
  border-radius: 20em;
  border: none;
  background-color: var(--defaultAccent);
  transition: 300ms;
}

form#sendForm > input[type="submit"]:hover {
  background-color: var(--activeAccent);
}

/* course selector */

div#courses {
  position: absolute;
  right: -11.5%;
  top: 10%;
  width: 30em;
  transition: 500ms;
}

/* course buttons */
div#courses > input[type="button"] {
  width: 80%;
  text-align: left;
  background-color: var(--defaultAccent);
  transition: 300ms;
  border: none;
  border-radius: 2em;
  height: 3em;
  padding-left: 1em;
  margin-bottom: 1.5em;
  margin-left: 20%;
}

div#courses > input[type="button"]:hover {
  background-color: var(--activeAccent);
  margin-left: 10%;
}

/* text output area */

#textOutput {
  overflow-y: auto;
  position: absolute;
  height: 44em;
  width: 70%;
  left: 45%;
  transform: translate(-50%, 0);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#textOutput::-webkit-scrollbar {
  display: none;
}

#textOutput > p {
  margin: 0.5em;
}

#textOutput > p:hover {
  background-color: var(--highlightColor);
}
